body {
	width: 100%;
	height: 100%;
	/* overflow: hidden; */
	font: 16px Helvetica,sans-serif;
}

a {
	color: #22a;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.container {
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 15px;
}

.header {
	display: block;
	position: fixed;
	background-color: #60b0f4; // #e8e8e8;
	text-align: center;
	font-style: bold;
	font-family: Verdana, Arial;
	top: 0;
	left: 0;
	right: 0;
	padding: 5px;
	z-index: 9;
}

.header h1 {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 65px;
	margin-right: 65px;
}

.table {
	max-width: 600px;
    /*width: 550px;*/
    overflow-y: scroll;
    overflow-x: scroll;
    /*height: 500px;
    display: block;*/
}

.content {
	display: block;
	position: absolute;
	top: 90px;
	bottom: 0;
	left: 0;
	width: 640px;
}

#xtext-editor {
	display: block;
	position: relative;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 4px;
	border: 1px solid #60b0f4;/*#aaa;*/
}

.footer {
	display: block;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    /*background-color: #60b0f4;*/
    color: black;
    text-align: center;
    height: 14px;
    font-size: 10px;
    font-family: Arial, Sans Serif;
}
