<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension
		point="org.eclipse.ui.editors">
		<editor
			class="ctwedge.ui.CTWedgeExecutableExtensionFactory:org.eclipse.xtext.ui.editor.XtextEditor"
			contributorClass="org.eclipse.ui.editors.text.TextEditorActionContributor"
			default="true"
			extensions="ctw"
			id="ctwedge.CTWedge"
			icon="icons/logo16.png"
			name="CTWedge Editor">
		</editor>
	</extension>
	<extension
		point="org.eclipse.ui.handlers">
		<handler
			class="ctwedge.ui.CTWedgeExecutableExtensionFactory:org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclarationHandler"
			commandId="org.eclipse.xtext.ui.editor.hyperlinking.OpenDeclaration">
			<activeWhen>
				<reference
					definitionId="ctwedge.CTWedge.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
		<handler
			class="ctwedge.ui.CTWedgeExecutableExtensionFactory:org.eclipse.xtext.ui.editor.handler.ValidateActionHandler"
			commandId="ctwedge.CTWedge.validate">
		<activeWhen>
			<reference
					definitionId="ctwedge.CTWedge.Editor.opened">
			</reference>
		</activeWhen>
		</handler>
		<!-- copy qualified name -->
		<handler
			class="ctwedge.ui.CTWedgeExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedNameHandler"
			commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName">
			<activeWhen>
				<reference definitionId="ctwedge.CTWedge.Editor.opened" />
			</activeWhen>
		</handler>
		<handler
			class="ctwedge.ui.CTWedgeExecutableExtensionFactory:org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedNameHandler"
			commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName">
			<activeWhen>
				<and>
					<reference definitionId="ctwedge.CTWedge.XtextEditor.opened" />
					<iterate>
						<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
					</iterate>
				</and>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.core.expressions.definitions">
		<definition id="ctwedge.CTWedge.Editor.opened">
			<and>
				<reference definitionId="isActiveEditorAnInstanceOfXtextEditor"/>
				<with variable="activeEditor">
					<test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName"
						value="ctwedge.CTWedge"
						forcePluginActivation="true"/>
				</with>
			</and>
		</definition>
		<definition id="ctwedge.CTWedge.XtextEditor.opened">
			<and>
				<reference definitionId="isXtextEditorActive"/>
				<with variable="activeEditor">
					<test property="org.eclipse.xtext.ui.editor.XtextEditor.languageName"
						value="ctwedge.CTWedge"
						forcePluginActivation="true"/>
				</with>
			</and>
		</definition>
	</extension>
	<extension
			point="org.eclipse.ui.preferencePages">
		<page
			class="ctwedge.ui.CTWedgeExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
			id="ctwedge.CTWedge"
			name="CTWedge">
			<keywordReference id="ctwedge.ui.keyword_CTWedge"/>
		</page>
		<page
			category="ctwedge.CTWedge"
			class="ctwedge.ui.CTWedgeExecutableExtensionFactory:org.eclipse.xtext.ui.editor.syntaxcoloring.SyntaxColoringPreferencePage"
			id="ctwedge.CTWedge.coloring"
			name="Syntax Coloring">
			<keywordReference id="ctwedge.ui.keyword_CTWedge"/>
		</page>
		<page
			category="ctwedge.CTWedge"
			class="ctwedge.ui.CTWedgeExecutableExtensionFactory:org.eclipse.xtext.ui.editor.templates.XtextTemplatePreferencePage"
			id="ctwedge.CTWedge.templates"
			name="Templates">
			<keywordReference id="ctwedge.ui.keyword_CTWedge"/>
		</page>
	</extension>
	<extension
			point="org.eclipse.ui.propertyPages">
		<page
			class="ctwedge.ui.CTWedgeExecutableExtensionFactory:org.eclipse.xtext.ui.editor.preferences.LanguageRootPreferencePage"
			id="ctwedge.CTWedge"
			name="CTWedge">
			<keywordReference id="ctwedge.ui.keyword_CTWedge"/>
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
			<filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
		</page>
	</extension>
	<extension
		point="org.eclipse.ui.keywords">
		<keyword
			id="ctwedge.ui.keyword_CTWedge"
			label="CTWedge"/>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
	<command
			description="Trigger expensive validation"
			id="ctwedge.CTWedge.validate"
			name="Validate">
	</command>
	<!-- copy qualified name -->
	<command
			id="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
			categoryId="org.eclipse.ui.category.edit"
			description="Copy the qualified name for the selected element"
			name="Copy Qualified Name">
	</command>
	<command
			id="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
			categoryId="org.eclipse.ui.category.edit"
			description="Copy the qualified name for the selected element"
			name="Copy Qualified Name">
	</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.edit">
			 <command
				 commandId="ctwedge.CTWedge.validate"
				 style="push"
				 tooltip="Trigger expensive validation">
			<visibleWhen checkEnabled="false">
				<reference
					definitionId="ctwedge.CTWedge.Editor.opened">
				</reference>
			</visibleWhen>
		</command>
		</menuContribution>
		<!-- copy qualified name -->
		<menuContribution locationURI="popup:#TextEditorContext?after=copy">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<reference definitionId="ctwedge.CTWedge.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution locationURI="menu:edit?after=copy">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.EditorCopyQualifiedName"
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<reference definitionId="ctwedge.CTWedge.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
		<menuContribution locationURI="popup:org.eclipse.xtext.ui.outline?after=additions">
			<command commandId="org.eclipse.xtext.ui.editor.copyqualifiedname.OutlineCopyQualifiedName"
				style="push" tooltip="Copy Qualified Name">
				<visibleWhen checkEnabled="false">
					<and>
						<reference definitionId="ctwedge.CTWedge.XtextEditor.opened" />
						<iterate>
							<adapt type="org.eclipse.xtext.ui.editor.outline.IOutlineNode" />
						</iterate>
					</and>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?endof=group.find">
			<command commandId="org.eclipse.xtext.ui.editor.FindReferences">
				<visibleWhen checkEnabled="false">
					<reference definitionId="ctwedge.CTWedge.Editor.opened">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="ctwedge.ui.CTWedgeExecutableExtensionFactory:org.eclipse.xtext.ui.editor.findrefs.FindReferencesHandler"
			commandId="org.eclipse.xtext.ui.editor.FindReferences">
			<activeWhen>
				<reference
					definitionId="ctwedge.CTWedge.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.core.contenttype.contentTypes">
		<content-type
			base-type="org.eclipse.core.runtime.text"
			file-extensions="ctw"
			id="ctwedge.CTWedge.contenttype"
			name="CTWedge File"
			priority="normal">
		</content-type>
	</extension>
	<!-- adding resource factories -->
	<extension
		point="org.eclipse.emf.ecore.extension_parser">
		<parser
			class="ctwedge.ui.CTWedgeExecutableExtensionFactory:org.eclipse.xtext.resource.IResourceFactory"
			type="ctw">
		</parser>
	</extension>
	<extension point="org.eclipse.xtext.extension_resourceServiceProvider">
		<resourceServiceProvider
			class="ctwedge.ui.CTWedgeExecutableExtensionFactory:org.eclipse.xtext.ui.resource.IResourceUIServiceProvider"
			uriExtension="ctw">
		</resourceServiceProvider>
	</extension>
	<!-- marker definitions for ctwedge.CTWedge -->
	<extension
			id="ctwedge.check.fast"
			name="CTWedge Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.fast"/>
		<persistent value="true"/>
	</extension>
	<extension
			id="ctwedge.check.normal"
			name="CTWedge Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.normal"/>
		<persistent value="true"/>
	</extension>
	<extension
			id="ctwedge.check.expensive"
			name="CTWedge Problem"
			point="org.eclipse.core.resources.markers">
		<super type="org.eclipse.xtext.ui.check.expensive"/>
		<persistent value="true"/>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="ctwedge.CTWedge"
			class="ctwedge.ui.CTWedgeExecutableExtensionFactory:org.eclipse.xtext.ui.validation.ValidatorPreferencePage"
			id="ctwedge.CTWedge.validator.preferencePage"
			name="Errors/Warnings">
			<keywordReference id="ctwedge.ui.keyword_CTWedge"/>
		</page>
	</extension>
	<extension point="org.eclipse.xtext.builder.participant">
		<participant
			class="ctwedge.ui.CTWedgeExecutableExtensionFactory:org.eclipse.xtext.builder.IXtextBuilderParticipant"
			fileExtensions="ctw"/>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="ctwedge.CTWedge"
			class="ctwedge.ui.CTWedgeExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
			id="ctwedge.CTWedge.compiler.preferencePage"
			name="Compiler">
			<keywordReference id="ctwedge.ui.keyword_CTWedge"/>
		</page>
	</extension>
	<extension point="org.eclipse.ui.propertyPages">
		<page
			category="ctwedge.CTWedge"
			class="ctwedge.ui.CTWedgeExecutableExtensionFactory:org.eclipse.xtext.builder.preferences.BuilderPreferencePage"
			id="ctwedge.CTWedge.compiler.propertyPage"
			name="Compiler">
			<keywordReference id="ctwedge.ui.keyword_CTWedge"/>
			<enabledWhen>
				<adapt type="org.eclipse.core.resources.IProject"/>
			</enabledWhen>
			<filter name="projectNature" value="org.eclipse.xtext.ui.shared.xtextNature"/>
		</page>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution locationURI="popup:#TextEditorContext?after=xtext.ui.openDeclaration">
			<command
				commandId="org.eclipse.xtext.ui.OpenGeneratedFileCommand"
				id="ctwedge.CTWedge.OpenGeneratedCode"
				style="push">
				<visibleWhen checkEnabled="false">
					<reference definitionId="ctwedge.CTWedge.Editor.opened" />
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.handlers">
		<handler
			class="ctwedge.ui.CTWedgeExecutableExtensionFactory:org.eclipse.xtext.ui.generator.trace.OpenGeneratedFileHandler"
			commandId="org.eclipse.xtext.ui.OpenGeneratedFileCommand">
			<activeWhen>
				<reference definitionId="ctwedge.CTWedge.Editor.opened" />
			</activeWhen>
		</handler>
	</extension>
	<!-- Quick Outline -->
	<extension
		point="org.eclipse.ui.handlers">
		<handler 
			class="ctwedge.ui.CTWedgeExecutableExtensionFactory:org.eclipse.xtext.ui.editor.outline.quickoutline.ShowQuickOutlineActionHandler"
			commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline">
			<activeWhen>
				<reference
					definitionId="ctwedge.CTWedge.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension
		point="org.eclipse.ui.commands">
		<command
			description="Open the quick outline."
			id="org.eclipse.xtext.ui.editor.outline.QuickOutline"
			name="Quick Outline">
		</command>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.open">
			<command commandId="org.eclipse.xtext.ui.editor.outline.QuickOutline"
				style="push"
				tooltip="Open Quick Outline">
				<visibleWhen checkEnabled="false">
					<reference definitionId="ctwedge.CTWedge.Editor.opened"/>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<!-- quickfix marker resolution generator for ctwedge.CTWedge -->
	<extension
			point="org.eclipse.ui.ide.markerResolution">
		<markerResolutionGenerator
			class="ctwedge.ui.CTWedgeExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="ctwedge.ui.ctwedge.check.fast">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
		<markerResolutionGenerator
			class="ctwedge.ui.CTWedgeExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="ctwedge.ui.ctwedge.check.normal">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
		<markerResolutionGenerator
			class="ctwedge.ui.CTWedgeExecutableExtensionFactory:org.eclipse.xtext.ui.editor.quickfix.MarkerResolutionGenerator"
			markerType="ctwedge.ui.ctwedge.check.expensive">
			<attribute
				name="FIXABLE_KEY"
				value="true">
			</attribute>
		</markerResolutionGenerator>
	</extension>
	<!-- Rename Refactoring -->
	<extension point="org.eclipse.ui.handlers">
		<handler 
			class="ctwedge.ui.CTWedgeExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.DefaultRenameElementHandler"
			commandId="org.eclipse.xtext.ui.refactoring.RenameElement">
			<activeWhen>
				<reference
					definitionId="ctwedge.CTWedge.Editor.opened">
				</reference>
			</activeWhen>
		</handler>
	</extension>
	<extension point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="popup:#TextEditorContext?after=group.edit">
			<command commandId="org.eclipse.xtext.ui.refactoring.RenameElement"
				style="push">
				<visibleWhen checkEnabled="false">
					<reference
						definitionId="ctwedge.CTWedge.Editor.opened">
					</reference>
				</visibleWhen>
			</command>
		</menuContribution>
	</extension>
	<extension point="org.eclipse.ui.preferencePages">
		<page
			category="ctwedge.CTWedge"
			class="ctwedge.ui.CTWedgeExecutableExtensionFactory:org.eclipse.xtext.ui.refactoring.ui.RefactoringPreferencePage"
			id="ctwedge.CTWedge.refactoring"
			name="Refactoring">
			<keywordReference id="ctwedge.ui.keyword_CTWedge"/>
		</page>
	</extension>
	<extension point="org.eclipse.compare.contentViewers">
		<viewer id="ctwedge.CTWedge.compare.contentViewers"
			class="ctwedge.ui.CTWedgeExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
			extensions="ctw">
		</viewer>
		<contentTypeBinding
			contentTypeId="ctwedge.CTWedge.contenttype"
			contentViewerId="ctwedge.CTWedge.compare.contentViewers" />
	</extension>
	<extension point="org.eclipse.compare.contentMergeViewers">
		<viewer id="ctwedge.CTWedge.compare.contentMergeViewers"
			class="ctwedge.ui.CTWedgeExecutableExtensionFactory:org.eclipse.xtext.ui.compare.InjectableViewerCreator"
			extensions="ctw" label="CTWedge Compare">
		</viewer>
		<contentTypeBinding
			contentTypeId="ctwedge.CTWedge.contenttype"
			contentMergeViewerId="ctwedge.CTWedge.compare.contentMergeViewers" />
	</extension>
	<extension point="org.eclipse.ui.editors.documentProviders">
		<provider id="ctwedge.CTWedge.editors.documentProviders"
			class="ctwedge.ui.CTWedgeExecutableExtensionFactory:org.eclipse.xtext.ui.editor.model.XtextDocumentProvider"
			extensions="ctw">
		</provider>
	</extension>
	<extension point="org.eclipse.team.core.fileTypes">
		<fileTypes
			extension="ctw"
			type="text">
		</fileTypes>
	</extension>
	
	<!-- My extension points -->
	<extension-point id="ctwedgeGenerators" name="ctwedgeGenerators" schema="schema/generators.exsd" />
	<extension-point id="ctwedgeExporters" name="ctwedgeExporters" schema="schema/TestSuiteExporters.exsd" />
	
	<!-- For new project wizard -->
	<extension point="org.eclipse.ui.newWizards">
      <!-- <category
            id="ctwedge.ui.CTWedgewizardCat"
            name="CTWedge">
      </category>
      <wizard
            category="ctwedge.ui.CTWedgewizardCat"
            class="ctwedge.ui.CTWedgeExecutableExtensionFactory:ctwedge.ui.wizard.CTWedgeNewProjectWizard"
            descriptionImage="icons/logo16.png"
            finalPerspective="org.eclipse.ui.resourcePerspective"
            icon="icons/logo16.png"
            id="ctwedge.ui.wizard.CTWedgeNewProjectWizard"
            name="CTWedge Project"
            preferredPerspectives="org.eclipse.ui.resourcePerspective"
            project="true">
      </wizard> -->
      <category
            id="ctwedge.ui"
            name="CTWedge Wizards">
      </category>
      <wizard
            category="ctwedge.ui"
            class="ctwedge.ui.wizards.CTWedgeNewFileWizard"
            icon="icons/logo16.png"
            id="ctwedge.ui.wizards.CTWedgeNewFileWizard"
            name="CTWedge New File Wizard">
      </wizard>
    </extension>
   
 	<!-- <extension id="toolbar:org.eclipse.ui.workbench.file?after=newWizardDropDown"
		point="org.eclipse.ui.menus">
		<menuContribution
			locationURI="toolbar:org.eclipse.ui.workbench.file">
			<command
				commandId="org.eclipse.ui.newWizard">
				<parameter
					name="newWizardId"
					value="ctwedge.ui.wizard.CTWedgeNewProjectWizard">
				</parameter>
			</command>
		</menuContribution>
	</extension>-->

<!-- Launch extensions -->
<!-- to launch the plugin -->
   <extension point="org.eclipse.debug.core.launchConfigurationTypes">
    <launchConfigurationType
    icon="icons/logo16.png"
        name="CTwedge generator"
        delegate="ctwedge.ui.launch.CTwedgeLaunchConfigurationDelegate"
        modes="run, debug"               
        id="CTwedge.generator">        
    </launchConfigurationType>
</extension>
<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
    <launchConfigurationTypeImage
        icon="icons/logo16.png"
        configTypeID="CTwedge.generator"
        id="org.eclipse.jdt.debug.ui.launchConfigurationTypeImage.CTwedgeGenerator">
    </launchConfigurationTypeImage>
</extension>
<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    <launchConfigurationTabGroup
        type="CTwedge.generator"
        class="ctwedge.ui.launch.CTwedgeLaunchTabGroup"
        id="org.eclipse.jdt.debug.ui.launchConfigurationTabGroup.CTwedgeGenerator">
    </launchConfigurationTabGroup>
</extension>
<extension point="org.eclipse.debug.ui.launchShortcuts">
<!--icon="icons/logo.png"-->
    <shortcut
    icon="icons/logo16.png"
        id="org.eclipse.jdt.debug.ui.CTWedgeShortcut"
        class="ctwedge.ui.launch.CTWedgeLaunchShortcut"
        label="CTWedge"        
        modes="run">
        <contextualLaunch>
            <enablement>
                <with
                    variable="selection">
                    <count
                        value="+">
                    </count>
                </with>
            </enablement>
        </contextualLaunch>
    </shortcut>
</extension>

   <extension
         name="OP2"
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="ctwedge.ui.combinata"
            class="ctwedge.ui.views.generator.CTWedgeView"
            icon="icons/logo16.png"
            id="ctwedge.ui.views.CTWedgeView"
            name="CTWedge view"
            restorable="false">
      </view>
      <!--
      <view
            allowMultiple="false"
            category="citlab.core.ui.combinata"
            class="citlab.core.ui.views.exporter.CoderView"
            icon="icons/c.png"
            id="citlab.core.ui.views.Coders"
            name="CitLab Coders view"
            restorable="true">
      </view>
      -->
      <!--
      <category
            id="citlab.core.ui.combinata"
            name="citlab_ext_viewer">
      </category>
      <view
            allowMultiple="false"
            category="citlab.core.ui.combinata"
            class="citlab.core.ui.views.importer.ImporterView"
            icon="icons/c.png"
            id="citlab.core.ui.views.Importers"
            name="CitLab Importers"
            restorable="true">
      </view>
      -->
      <view
            allowMultiple="true"
            category="ctwedge.ui.combinata"
            class="ctwedge.ui.views.generator.TestSuiteView"
            icon="icons/logo16.png"
            id="ctwedge.ui.output"
            name="Output view"
            restorable="false">
      </view>
        <!--
      <view
            allowMultiple="true"
            category="ctwedge.eclipse.ui.combinata"
            class="ctwedge.eclipse.ui.views.validator.ModelValidationView"
            icon="icons/i.gif"
            id="ctwedge.eclipse.ui.modelvalidation"
            name="CTWedge Model Validation"
            restorable="false">
      </view>
      -->
   </extension>

</plugin>
