/.ctwedgeIdeModule.java._trace
/.ctwedgeIdeSetup.java._trace
/.CTWedgeIdeModule.java._trace
/.CTWedgeIdeSetup.java._trace
/.CTWedgeIdeModule.xtendbin
/.CTWedgeIdeSetup.xtendbin
/CTWedgeIdeModule.java
/CTWedgeIdeSetup.java
