<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
      	id="CSV"
         name="CSVExporter"
         point="ctwedge.util.ctwedgeExporters">
      <TestSuiteExporter
            ExporterName="CSV"
            FileExtension="*.csv"
            ITSPrototype="ctwedge.generator.exporter.CSVExporter">
      </TestSuiteExporter>
   	</extension>
   
   	<extension
   		id="XLS"
         name="ExcelExporter (.xls)"
         point="ctwedge.util.ctwedgeExporters">
      <TestSuiteExporter
            ExporterName="XLS"
            FileExtension="*.xls"
            ITSPrototype="ctwedge.generator.exporter.XlsExporter">
      </TestSuiteExporter>
   	</extension>
   
   	<!-- My extension points -->
   	<extension-point id="ctwedgeGenerators" name="ctwedgeGenerators" schema="schema/generators.exsd" />
	<extension-point id="ctwedgeExporters" name="ctwedgeExporters" schema="schema/TestSuiteExporters.exsd" />
 <extension-point id="ctwedgeImporters" name="ctwedgeImporters" schema="schema/model_importers.exsd"/>

</plugin>
