<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         name="OP2"
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="ctwedge.eclipse.ui.combinata"
            class="ctwedge.eclipse.ui.views.generator.CTWedgeView"
            icon="icons/logo.png"
            id="ctwedge.eclipse.ui.views.CTWedgeView"
            name="CTWedge view"
            restorable="false">
      </view>
      <!--
      <view
            allowMultiple="false"
            category="citlab.core.ui.combinata"
            class="citlab.core.ui.views.exporter.CoderView"
            icon="icons/c.png"
            id="citlab.core.ui.views.Coders"
            name="CitLab Coders view"
            restorable="true">
      </view>
      -->
      <!--
      <category
            id="citlab.core.ui.combinata"
            name="citlab_ext_viewer">
      </category>
      <view
            allowMultiple="false"
            category="citlab.core.ui.combinata"
            class="citlab.core.ui.views.importer.ImporterView"
            icon="icons/c.png"
            id="citlab.core.ui.views.Importers"
            name="CitLab Importers"
            restorable="true">
      </view>
      -->
      <view
            allowMultiple="true"
            category="ctwedge.eclipse.ui.combinata"
            class="ctwedge.eclipse.ui.views.generator.TestSuiteView"
            icon="icons/logo.gif"
            id="ctwedge.eclipse.ui.output"
            name="Output view"
            restorable="false">
      </view>
        <!--
      <view
            allowMultiple="true"
            category="ctwedge.eclipse.ui.combinata"
            class="ctwedge.eclipse.ui.views.validator.ModelValidationView"
            icon="icons/i.gif"
            id="ctwedge.eclipse.ui.modelvalidation"
            name="CTWedge Model Validation"
            restorable="false">
      </view>
      -->
   </extension>
   <!--
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="ctwedge.eclipse.ui.perspective">
         <view
               id="ctwedge.eclipse.ui.views.Generators"
               minimized="false"
               ratio="0.5"
               relationship="stack"
               relative="org.eclipse.ui.views.ResourceNavigator"
               visible="true">
         </view>
         <view
               id="ctwedge.eclipse.ui.views.Coders"
               minimized="false"
               relationship="stack"
               relative="ctwedge.eclipse.ui.views.Generators">
         </view>
         <view
               id="ctwedge.eclipse.ui.views.Importers"
               minimized="false"
               relationship="stack"
               relative="ctwedge.eclipse.ui.views.Coders">
         </view>
      </perspectiveExtension>
   </extension>

   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="ctwedge.generatorpoint.actionSet1"
            label="Open Combinatorial tools"
            visible="true">
         <action
               class="ctwedge.eclipse.ui.toolbar.ComBTbAction"
               icon="icons/c.png"
               id="ctwedge.generatorpoint.actionSet1"
               label="ComB Tools"
               style="pulldown"
               toolbarPath="Normal/additions">
         </action>
         <action
               class="ctwedge.eclipse.ui.toolbar.CombTbAnalyze"
               icon="icons/validator.gif"
               id="ctwedge.eclipse.ui.action2"
               label="Model Validator"
               state="false"
               style="pulldown"
               toolbarPath="Normal/additions">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="ctwedge.eclipse.ui.PerspectiveFactory"
            fixed="true"
            icon="icons/wizard.gif"
            id="ctwedge.eclipse.ui.perspective"
            name="CTWedge">
      </perspective>
   </extension>
   -->
<!-- to launch the plugin -->
   <extension point="org.eclipse.debug.core.launchConfigurationTypes">
    <launchConfigurationType
    icon="icons/logo16.png"
        name="CTwedge generator"
        delegate="ctwedge.eclipse.ui.launch.CTwedgeLaunchConfigurationDelegate"
        modes="run, debug"               
        id="CTwedge.generator">        
    </launchConfigurationType>
</extension>
<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
    <launchConfigurationTypeImage
        icon="icons/logo16.png"
        configTypeID="CTwedge.generator"
        id="org.eclipse.jdt.debug.ui.launchConfigurationTypeImage.CTwedgeGenerator">
    </launchConfigurationTypeImage>
</extension>
<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    <launchConfigurationTabGroup
        type="CTwedge.generator"
        class="ctwedge.eclipse.ui.launch.CTwedgeLaunchTabGroup"
        id="org.eclipse.jdt.debug.ui.launchConfigurationTabGroup.CTwedgeGenerator">
    </launchConfigurationTabGroup>
</extension>
<extension point="org.eclipse.debug.ui.launchShortcuts">
<!--icon="icons/logo.png"-->
    <shortcut
    icon="icons/logo16.png"
        id="org.eclipse.jdt.debug.ui.CTWedgeShortcut"
        class="ctwedge.eclipse.ui.launch.CTWedgeLaunchShortcut"
        label="CTWedge"        
        modes="run">
        <contextualLaunch>
            <enablement>
                <with
                    variable="selection">
                    <count
                        value="+">
                    </count>
                </with>
            </enablement>
        </contextualLaunch>
    </shortcut>
</extension>

</plugin>
