<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="ACTS"
         name="ACTSGenerator"
         point="ctwedge.util.ctwedgeGenerators"> 
         
      <Generator
            Algorithm="ACTS Algorithm"
            GeneratorPrototype="ctwedge.generator.acts.ACTSTranslator"
            Name="ACTS"
            support_constraints="true">
      </Generator>
   </extension>
   

</plugin>
