<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   
   <extension
         id="CASA"
         name="CASAGenerator"
         point="ctwedge.util.ctwedgeGenerators"> 
         
      <Generator
            Algorithm="CASA Algorithm"
            GeneratorPrototype="ctwedge.generator.casa.CASATranslator"
            Name="CASA"
            support_constraints="true">
      </Generator>
   </extension>
   
   

</plugin>
